/* VARIABLE DECLARATION & GLOBAL STYLING */
:root {
	--primary-font-size: 1rem;
	--heading-font-size: 1.65rem;
	--small-font-size: 0.8rem;
	--text-muted-color: rgba(0, 0, 0, 0.8);
	--primary-color: #980730;
	--primary-hover-color: #5e001b;
	--primary-color-muted: #98073010;
	--secondary-color: #07986f;
	--box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	--rounded-borders: 24px;
	--semi-rounded-borders: 8px;
	--section-padding: 24px;
	--small-gap: 16px;
	--large-section-padding: 64px;
	--font-family: "Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 110%;
}

small {
	opacity: 75%;
}

body {
	font-family: var(--font-family);
	background-color: rgb(66, 66, 66);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 75vw;
	display: flex;
	justify-content: flex-end;
	margin-top: var(--section-padding);

	nav {
		display: flex;
		gap: 12px;
	}

	button {
		border: none;
		border-radius: 2px;
		padding: 4px 12px;
		box-shadow: var(--box-shadow);

		&:hover {
			background-color: rgba(255, 255, 255, 0.555);
			cursor: pointer;
		}
	}
}

#content {
	width: 85vw;
	margin: 0 auto;
}

#heading {
	text-align: center;
	color: white;
	margin: 0 auto 48px;

	h1 {
		margin-bottom: 8px;
		font-size: 2.5rem;
	}

	p {
		margin-top: 0px;
		font-size: 0.9rem;
		opacity: 75%;
	}
}
