/* HOMEPAGE STYLING */
#main-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.info-container {
	color: white;
	width: 25vw;

	.card {
		background-color: white;
		display: flex;
		flex-direction: column;
		gap: 24px;
		color: black;
		padding: var(--section-padding);
		border-radius: var(--semi-rounded-borders);

		img {
			border-radius: var(--semi-rounded-borders);
		}
	}
}
