/* VARIABLE DECLARATION & GLOBAL STYLING */
:root {
	--primary-font-size: 1rem;
	--heading-font-size: 1.65rem;
	--small-font-size: 0.8rem;
	--text-muted-color: rgba(0, 0, 0, 0.8);
	--primary-color: #980730;
	--primary-hover-color: #5e001b;
	--primary-color-muted: #98073010;
	--secondary-color: #07986f;
	--box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	--rounded-borders: 24px;
	--semi-rounded-borders: 8px;
	--section-padding: 24px;
	--small-gap: 16px;
	--large-section-padding: 64px;
	--font-family: "Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 110%;
}

small {
	opacity: 75%;
}

body {
	font-family: var(--font-family);
	background-color: rgb(66, 66, 66);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* HOMEPAGE STYLING */
#content {
	width: 85vw;
	margin: 0 auto;
}

#heading {
	text-align: center;
	color: white;
	margin: 48px auto;

	h1 {
		margin-bottom: 8px;
		font-size: 2.5rem;
	}

	p {
		margin-top: 0px;
		font-size: 0.9rem;
		opacity: 75%;
	}
}

#main-content {
	display: flex;
	flex-direction: column;
}

.info-container {
	color: white;
	width: 400px;
}

/* MENU GRID */
#example-section {
	margin: 0 auto;
	min-width: 350px;
	width: 50vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	justify-content: center;
	gap: 25px;
}

.example-card {
	background-color: white;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: center;
	border-radius: var(--semi-rounded-borders);
	box-shadow: var(--box-shadow);
	width: 300px;

	h3 {
		margin: 0px;
	}

	img {
		margin: 16px auto 0;
		width: 80%;
	}
}
